<?xml version="1.0" ?>
<!--This does not replace URDF, and is not an extension of URDF.
    This is a format for representing semantic information about the robot structure.
    A URDF file must exist for this robot as well, where the joints and the links that are referenced are defined
-->
<robot name="wx200"
    xmlns:xacro="http://www.ros.org/wiki/xacro">


    <!-- Disable the collisions between the EE and april tag objects -->
    <!-- Disable the hammer and fingers, finger bar, all the way to wrist_link motors. None of these could self collide -->

    <!-- Virtual links are skipped here. -->
    <disable_collisions link1="lollypop_hammer" link2="$(arg robot_name)/gripper_bar_link" reason="Adjacent" />
    <disable_collisions link1="lollypop_hammer" link2="$(arg robot_name)/left_finger_link" reason="Adjacent" />
    <disable_collisions link1="lollypop_hammer" link2="$(arg robot_name)/right_finger_link" reason="Adjacent" />
    <disable_collisions link1="lollypop_hammer" link2="$(arg robot_name)/gripper_prop_link" reason="Never" />
    <disable_collisions link1="lollypop_hammer" link2="$(arg robot_name)/gripper_link" reason="Never" />
    <disable_collisions link1="lollypop_hammer" link2="$(arg robot_name)/wrist_link" reason="Never" />
    <!-- Also all forearm link , because the joint limit doesn't allow collision anyway.  -->
    <disable_collisions link1="lollypop_hammer" link2="$(arg robot_name)/forearm_link" reason="Never" />

    <!-- and between finger and april tag mount -->
    <disable_collisions link1="lollypop_hammer" link2="april_tag_mount" reason="Never" />

    <!-- April tag mount also need to be ignored between all the finger related stuff. same as above  -->
    <disable_collisions link1="april_tag_mount" link2="$(arg robot_name)/gripper_bar_link" reason="Adjacent" />
    <disable_collisions link1="april_tag_mount" link2="$(arg robot_name)/left_finger_link" reason="Adjacent" />
    <disable_collisions link1="april_tag_mount" link2="$(arg robot_name)/right_finger_link" reason="Adjacent" />
    <disable_collisions link1="april_tag_mount" link2="$(arg robot_name)/gripper_prop_link" reason="Never" />
    <disable_collisions link1="april_tag_mount" link2="$(arg robot_name)/gripper_link" reason="Never" />
    <disable_collisions link1="april_tag_mount" link2="$(arg robot_name)/wrist_link" reason="Never" />
    <!-- Also all forearm link , because the joint limit doesn't allow collision anyway.  -->
    <disable_collisions link1="april_tag_mount" link2="$(arg robot_name)/forearm_link" reason="Never" />

    <!-- The camera mount won't collide with base and two showder motor -->
    <disable_collisions link1="camera_stand" link2="$(arg robot_name)/base_link" reason="Adjacent" />
    <disable_collisions link1="camera_stand" link2="$(arg robot_name)/shoulder_link" reason="Never" />

    <group name="lollypop_hammer">
        <joint name="waist" />
        <joint name="shoulder" />
        <joint name="elbow" />
        <joint name="wrist_angle" />
        <joint name="wrist_rotate" />
        <joint name="ee_arm" />
        <joint name="gripper_bar" />
        <joint name="ee_bar" />
        <joint name="lollypop_joint" />
        <joint name="lollypop_ee_offset" />
    </group>
    <!-- Let's define custom end effector  -->
    <!-- <end_effector name="lollypop_ee" parent_link="lollypop_ee_link" group="lollypop_hammer" /> -->
    <!-- Attach to interbotix_arm group for quick and easy thing. Maybe I could define my own group? -->


</robot>